boto3==1.9.120
botocore==1.12.120
certifi==2022.12.7
Click==7.0
colorama==0.4.1
docutils==0.14
Flask==1.0.2
Flask-Login==0.4.1
Flask-WTF==0.14.2
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.4
MarkupSafe==1.1.1
peewee==3.9.3
psycopg2-binary==2.7.7
python-dateutil==2.8.0
python-dotenv==0.10.1
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.1
Werkzeug==0.15.1
wincertstore==0.2
WTForms==2.2.1
