{% extends 'layout.html' %}

{% block content %}

<ion-app>
    <ion-header>
        <ion-item>
            <h1>Todo-List</h1>
        </ion-item>
    </ion-header>
    <ion-content>
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <form action="{{ url_for('create') }}" method='POST'>
                        <ion-input placeholder='Enter new item..' name='item'></ion-input>
                        <ion-button type='submit'>Add Item</ion-button>
                    </form>
                </ion-item>
            </ion-card-content>
        </ion-card>
    </ion-content>
</ion-app>

{% endblock %}